{% extends "app/layout.html" %}
{% load static %}

{% block content %}


<div class="card">
    <h1>Cписок ссылок</h1>
    <div class=".content">
            <ol>
                <li><a href="https://pskov.nonton.ru/mebel/shkafy/shkafy-kupe/?utm_source=yandex&utm_medium=cpc&utm_campaign=">Интернет-магазин мебели</a></li>
                <li><a href="https://kupetable.ru/shkaf-kupe-osnovniye-osobennosti.php">Статья о основных особенностях шкафов-купе</a></li>
                <li><a href="https://kupetable.ru/shkafy-kupe-klassifikaciya.php">Статья о классификации шкафов купе</a></li>
            </ol>
    </div>

    <h2><a href='/'>Главная страница</a></h2>
</div>


{% endblock %}
