<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} Веб-страница</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'app/image/apple-touch-icon.png' %}" />
    <link rel="icon" type="image.png" sizes="32x32" href="{% static 'app/image/favicon-32x32.png' %}" />
    <link rel="icon" type="image.png" sizes="16x16" href="{% static 'app/image/favicon-16x16.png' %}" />
    <link rel="manifest" href="site.webmanifest" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>


<header id="app-header" class="app-header">
    <div id="large-toolbar" class="app-toolbar tall">
        <a href="/" class=""> <img src="{% static 'app/image/logo.png' %}" width="60" height="60" /> </a>
        <div id="large-title" class="large-title">
            Мебелька
        </div>

        <div class="butt">
            <input type="button" onclick="window.location.href = '/blog/';" value="Блог" style="height:56px; color: white" />
        </div>
        <div class="butt">
            <input type="button" onclick="window.location.href = '/videopost/';" value="Видео" style="height:56px; color: white" />
        </div>
        <div class="butt">
            <input type="button" onclick="window.location.href = '/anketa/';" value="Анкета" style="height:56px; color: white" />
        </div>
        {% if user.is_superuser %}
        <div class="butt">
            <input type="button" onclick="window.location.href = '/newpost/';" value="Добавить статью" style="height:56px; color: white" />
        </div>
        {% endif %}

        {% if request.user.is_authenticated %}
        <li class="last"> {{user.username}} </li>
        <div class="butt">
            <input type="button" onclick="window.location.href = '/logout/';" value="Выйти" style="height:56px; color: white" />
        </div>
        {% else %}
        <div class="butt">
            <input type="button" onclick="window.location.href = '/signin/';" value="Регистрация" style="height:56px; color: white" />
        </div>

        <div class="butt">
            <input type="button" onclick="window.location.href = '/login/';" value="Войти" style="height:56px; color: white" />
        </div>

        {% endif %}
    </div>
</header>
</head>

<body>
    <div class="container body-content">
        {% block content %}{% endblock %}

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    <script src="{% static 'app/scripts/buttons.js' %}"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
